// =============================================================================
// Buttons
// =============================================================================

.btn {
	display: inline-block;
	box-sizing: border-box;
	height: 42px;
	color: rgba(255,255,255, 0.6);
	background-color: transparent;
	font-family: font-stack(display);
	font-size: font-scale(body, 1);
	font-weight: 700;
	line-height: 38px;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	letter-spacing: 0.1rem;
	cursor: pointer;
	transition: all .2s ease-in-out;

	svg {
		width: 7px;
		height: 12px;
		position: relative;
		top: 2px;
		left: 0.8em;
		.btn--svg {
			fill: rgba(255,255,255, 0.6);
			transition: fill .2s ease-in-out;
		}
	}
	&:hover, &:focus {
		outline: 0;
		color: rgba(255,255,255, 1);
		text-decoration: none;

		svg {
			.btn--svg {
				fill: rgba(255,255,255, 1);
			}
		}
	}

	&--border {
		padding: 0 30px;
		border: 2px solid get-color(brand, primary);
		color: get-color(brand, primary);
		border-radius: 50px;
		svg {
			.btn--svg {
				fill: get-color(brand, primary);
			}
		}
		&:hover, &:focus {
			outline: 0;
			background: get-color(brand, primary);
			color: rgba(255,255,255, 1);
			text-decoration: none;
	
			svg {
				.btn--svg {
					fill: rgba(255,255,255, 1);
				}
			}
		}
	}
	&--border__white {
		padding: 0 30px;
		border: 2px solid white;
		color: white;
		border-radius: 50px;
		svg {
			.btn--svg {
				fill: white;
			}
		}
		&:hover, &:focus {
			outline: 0;
			background: get-color(brand, primary);
			color: rgba(255,255,255, 1);
			border: 2px solid get-color(brand, primary);
			text-decoration: none;
	
			svg {
				.btn--svg {
					fill: rgba(255,255,255, 1);
				}
			}
		}
	}
}
